In [1]:
import pandas as pd
import os

In [4]:
# Files to load
top_40_to_load = os.path.join("Resources", "top_40_cleaned_data_analysis.csv")

In [11]:
# Read the data file and store it in a Pandas DataFrame.
top_40_df = pd.read_csv(top_40_to_load)
top_40_df

,Unnamed: 0,week,position,song,artist
0,0,7/7/1997,1,Mmm Bop,Hanson
1,1,7/7/1997,2,Bitch,Meredith Brooks
2,2,7/7/1997,3,Say You'll Be There,Spice Girls
3,3,7/7/1997,4,Return Of The Mack,Mark Morrison
4,4,7/7/1997,5,Sunny Came Home,Shawn Colvin
...,...,...,...,...,...
52427,52763,10/15/2022,36,Alone,Rod Wave
52428,52764,10/15/2022,37,Big Time,"DJ Khaled, Future"
52429,52765,10/15/2022,38,Under The Influence,Chris Brown
52430,52766,10/15/2022,39,Romantic Homicide,d4vd
52431,52767,10/15/2022,40,What My World Spins Around,Jordan Davis

In [6]:
# Read the data file and store it in a Pandas DataFrame.
top_40_df = pd.read_csv(top_40_to_load)
top_40_df.head()

   Unnamed: 0      week  position                 song           artist
0           0  7/7/1997         1              Mmm Bop           Hanson
1           1  7/7/1997         2                Bitch  Meredith Brooks
2           2  7/7/1997         3  Say You'll Be There      Spice Girls
3           3  7/7/1997         4   Return Of The Mack    Mark Morrison
4           4  7/7/1997         5      Sunny Came Home     Shawn Colvin

Checking and Delete Duplicates

In [12]:
# Find shape of dataframe
top_40_df.shape

(52432, 5)

In [15]:
# Find duplicates in the song and artist columns.
top_40_df.duplicated(subset=['song','artist'])

0        False
1        False
2        False
3        False
4        False
         ...
52427     True
52428     True
52429     True
52430     True
52431    False
Length: 52432, dtype: bool

In [17]:
# Find the sum of duplicates in the song and artist columns. This shows a song's performance over time
top_40_df.duplicated(subset=['song','artist']).sum()

48031

In [20]:
# Display the rows identified as duplicates
top_40_df.loc[top_40_df.duplicated(subset=['song','artist']), :]

,Unnamed: 0,week,position,song,artist
40,40,7/14/1997,1,Bitch,Meredith Brooks
41,41,7/14/1997,2,Mmm Bop,Hanson
42,42,7/14/1997,3,Return Of The Mack,Mark Morrison
43,43,7/14/1997,4,Sunny Came Home,Shawn Colvin
44,44,7/14/1997,5,Do You Know,Robyn
...,...,...,...,...,...
52426,52762,10/15/2022,35,Beautiful,"DJ Khaled, Future"
52427,52763,10/15/2022,36,Alone,Rod Wave
52428,52764,10/15/2022,37,Big Time,"DJ Khaled, Future"
52429,52765,10/15/2022,38,Under The Influence,Chris Brown
52430,52766,10/15/2022,39,Romantic Homicide,d4vd

In [23]:
top_40_df.drop_duplicates(subset=['song','artist']).shape

(4401, 5)

In [24]:
top_40_df_2 = top_40_df.drop_duplicates(subset=['song','artist'])

In [27]:
top_40_df_3 = top_40_df_2.drop_duplicates(subset=['song','artist','position'])

In [29]:
top_40_df_3.to_csv('top_40_cleaned_data_API analysis.csv')